# OS
.DS_Store

# IntelliJ / VSCode
.idea/
.vscode/

# Java
**/target/
**/.classpath
**/.project
**/.settings/

# Node / React
**/node_modules/
**/dist/
**/build/

# Python
**/__pycache__/
**/*.pyc
.venv/

# Logs
**/*.log

# Env files
**/.env
